spring:
  application:
    name: controle-ponto

  data:
    mongodb:
      host: localhost
      port: 27017
      database: controle_ponto

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
